/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0px;
}

select,input {
    outline: none;
}

main {
    display: block;
}

/*主體*/

html {
  font-family: Microsoft JhengHei;
  width: 100%;
  min-width: 1100px;
  /* min-width: 980px; */
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: hidden;
  background: #1491fe;
}
.container {
  position: relative;
  width: 100%;
  height: 980px;
  overflow: hidden;
}
.container .login {
  position: relative;
  width: 1020px;
  height: 100%;
  margin: 0 auto; 
}

/*logo*/

.container .login .logo {
  width: 310px;
  height: 165px;
  background: url(../images/logo.png) no-repeat;
  background-size: 100%; 
  position: absolute;
  top: 27px;
  left: 360px;
}

/*input*/

.container .login .input-area {
  position: absolute;
  top: 272px;
  left: 350px;
}
.container .login .input-area .login-input {
  width: 206px;
  height: auto;
  vertical-align: middle;
  text-align: right; 
  float: left;
}
.container .login .input-area .login-input label input {
  width: 100%;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  padding: 2px 0 0 5px;
  box-sizing: border-box;
  border-radius: 3px;
  background: #ffffff;
  border: solid 1px #bfbfbf;
  color: #000000;
}
.container .login .input-area .login-input label input::-webkit-input-placeholder {
  color: #000000;
}
.container .login .input-area .login-input label input:first-of-type {
  margin-bottom: 10px;
}
.container .login .input-area button {
  width: 103px;
  height: 91px;
  border: 1px solid #a2895c;
  border-radius: 5px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-left: 10px;
  box-shadow: 0px 1px 0px 0px #f3ede6 inset;
  background: linear-gradient(to top, #695034 0%,#bca271 30%,#fff3dc 70%,#b08d68 100%);
  cursor: pointer;
  float: left;
  position: relative;
  z-index: 3;
}
.container .login .input-area button:hover,
.container .login .input-area button:active,
.container .login .input-area button.active {
  background: linear-gradient(to top, #29828e 0%,#71cbe9 30%,#e2f8ff 70%,#5ecdda 100%);
  border-color: #41a2bd;
}
/* .container .login .input-area.c {
  top: 310px;
} */

/*圖片*/

.container .coins {
  width: 508px;
  height: 238px;
  position: absolute;
  top: 404px;
  left: 255px;
  background: url(../images/leftImg.png) no-repeat;
  background-size: 100%;
  transform-origin: top;
  z-index: 2;
  animation: coins 0.5s ease-out 0s;
}

/*背景*/

.container .BG {
  position: absolute;
  top: 0;
  background: url(../images/background.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -999;
}

/*動畫*/

@keyframes coins {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}