@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  display: block;
}

html, body {
  width: 100%;
  height: auto;
}

i {
  display: block;
}

a {
  text-decoration: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

img {
  display: block;
}

html {
  width: 100%;
  height: 100%;
  background: #6b2586;
}
html body {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  overflow: hidden;
}
html body .container {
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
html body .container .logo_pic {
  width: 311px;
  height: 160px;
  background: url("../img/logo.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 106px;
  left: 344px;
}
html body .container .enter_group {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 333px;
  top: 377px;
}
html body .container .enter_group .input_item {
  width: auto;
  height: auto;
  margin-right: 10px;
}
html body .container .enter_group .input_item input {
  display: block;
  width: 232px;
  height: 32px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #ac19d1;
  color: #000000;
  font-size: 19px;
  padding-left: 8px;
}
html body .container .enter_group .input_item input::-webkit-input-placeholder {
  color: #730992;
}
html body .container .enter_group .input_item input::-moz-placeholder {
  color: #730992;
}
html body .container .enter_group .input_item input:-ms-input-placeholder {
  color: #730992;
}
html body .container .enter_group .input_item input::-ms-input-placeholder {
  color: #730992;
}
html body .container .enter_group .input_item input::placeholder {
  color: #730992;
}
html body .container .enter_group .input_item input:first-child {
  margin-bottom: 15px;
}
html body .container .enter_group button {
  width: 92px;
  height: 76px;
  background: -webkit-gradient(linear, left bottom, left top, from(#c2994f), color-stop(21%, #674529), color-stop(46%, #dcbc80), color-stop(67%, #ffffdc), color-stop(89%, #dcbc80));
  background: linear-gradient(to top, #c2994f 0%, #674529 21%, #dcbc80 46%, #ffffdc 67%, #dcbc80 89%);
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #4d043e;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
}
html body .bg {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/bg.png") no-repeat top center;
  z-index: -999;
}
html body .bg .img_1 {
  width: 1400px;
  height: 1000px;
  background: url("../img/img_1.png") no-repeat;
  position: absolute;
  top: 0;
  left: 51.05%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  -webkit-animation: img_1 0.5s ease-in 0s;
          animation: img_1 0.5s ease-in 0s;
}

@-webkit-keyframes img_1 {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0.9) scaleY(1.1);
            transform: translateX(-50%) translateY(-50%) scaleX(0.9) scaleY(1.1);
    opacity: 0;
  }
  34% {
    -webkit-transform: translateX(-50%) translateY(0) scaleX(1.5) scaleY(0.7);
            transform: translateX(-50%) translateY(0) scaleX(1.5) scaleY(0.7);
    opacity: 1;
  }
  67% {
    -webkit-transform: translateX(-50%) scaleX(0.7) scaleY(1.3);
            transform: translateX(-50%) scaleX(0.7) scaleY(1.3);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}

@keyframes img_1 {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0.9) scaleY(1.1);
            transform: translateX(-50%) translateY(-50%) scaleX(0.9) scaleY(1.1);
    opacity: 0;
  }
  34% {
    -webkit-transform: translateX(-50%) translateY(0) scaleX(1.5) scaleY(0.7);
            transform: translateX(-50%) translateY(0) scaleX(1.5) scaleY(0.7);
    opacity: 1;
  }
  67% {
    -webkit-transform: translateX(-50%) scaleX(0.7) scaleY(1.3);
            transform: translateX(-50%) scaleX(0.7) scaleY(1.3);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}