@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

main {
  display: block;
}

i {
  display: block;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

html {
  width: 100%;
  height: 100%;
  background: #b6a764;
  min-width: 800px;
}
html body {
  width: 100%;
  height: auto;
  overflow: hidden;
}
html body .container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
html body .container .main {
  width: 50%;
  position: absolute;
  top: 115px;
  left: 52.5%;
  -webkit-transform: translateX(-77.5%);
          transform: translateX(-77.5%);
}
html body .container .main img {
  width: 100%;
}
html body .container .login {
  position: relative;
  top: 165px;
  left: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body .container .login .logo {
  margin-bottom: 20px;
}
html body .container .login .input-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 15px;
}
html body .container .login .input-area .login-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
html body .container .login .input-area .login-input label {
  position: relative;
}
html body .container .login .input-area .login-input label input {
  width: 227px;
  height: 40px;
  background: #ddff9a;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bolder;
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.35);
  position: relative;
  padding-left: 65px;
}
html body .container .login .input-area .login-input label .inputAccount {
  border: 1px solid #cdb76c;
  -webkit-box-shadow: 0 2px 0 #8b4b15;
          box-shadow: 0 2px 0 #8b4b15;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 60px;
  height: 40px;
  background: #334a07;
  color: #fff;
  text-align: center;
  font-size: 24px;
  z-index: 1;
  line-height: 40px;
}
html body .container .login .input-area .btn {
  width: 140px;
  height: 100px;
  font-size: 24px;
  border-radius: 10px;
  color: #fff;
  font-weight: bolder;
  background: url("../img/button_BG.png");
}
html body .container .login .input-area .btn:hover, html body .container .login .input-area .btn:active {
  background: url("../img/button_BG_hover.png");
  color: #561800;
}
html body .bg {
  width: 100%;
  min-width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/bg.png") no-repeat;
  background-size: 100%;
  z-index: -999;
}