<style type="text/css">
    @charset "utf-8";
    html {
        height: 100%;
    }
    
    body {
        overflow-y: hidden;
        display: grid;
        font-family: Arial, "微軟正黑體";
        background-size: cover;
        height: 100%;
        background: url(./login/main_bg.jpg) center no-repeat;
    }
    
    #main {
        position: relative;
        top: 50%;
        margin-top: -300px;
    }
    
    .logo {
        background: url(./login/logo.png) center top no-repeat;
        height: 128px;
        width: 388px;
        margin: 0px auto 0;
    }
    
    .login {
        background: url(./login/bg03.png) center top no-repeat;
        height: 200px;
        width: 400px;
        display: block;
        position: absolute;
        top: 148px;
        left: 50%;
        margin-left: -200px;
    }
    
    .inp01,
    .inp02 {
        height: 66px;
        margin: 9px 0px 0 16px;
        color: #696969;
        font-size: 15px;
        font-weight: bold;
    }
    
    .inp02 {
        margin: -66px 0px 0 208px;
    }
    
    .inp01 span,
    .inp02 span {
        display: inline-block;
    }
    
    .group1 {
        width: 110px;
        height: 30px;
        background: transparent;
        font-size: 16px;
        display: inline-block;
        *height: 16px;
        border: none;
        color: #ababab;
        margin: -5px 0 0 0px;
        outline: none;
        vertical-align: top;
    }
    
    .submit01 {
        background: url(./login/btn.png) no-repeat;
        background-position: 0px 0px;
        display: block;
        height: 40px;
        width: 378px;
        margin: -26px auto 0px;
    }
    
    .submit01:hover {
        background-position: 0px -41px;
    }
    
    .inp_check {
        text-align: center;
        width: 135px;
        display: block;
        margin: 2px auto 0;
        cursor: pointer;
    }
    
    .inp_check input {
        position: relative;
        left: 0px;
        top: 3px;
        margin: 0px;
    }
    
    .inp_check span {
        color: #fff;
        font-size: 10px;
        text-shadow: 2px 2px 3px #000;
        margin-left: -2px;
    }

    .new_ad {
        width: 370px;
        height: 240px;
        background: url('./login/bg.gif') no-repeat;
        background-size: contain;
        margin: 20px auto 0;
    }
    
    .box_browsers {
        width: 257px;
        text-align: center;
        margin: 20px auto 0;
    }
    
    .box_browsers span {
        color: #fff;
        font-size: 12px;
        margin-bottom: 20px;
        display: block;
    }
    
    .browsers {
        background: url(./login/b_icon.png) no-repeat;
        height: 36px;
        width: 36px;
        opacity: 0.6;
        float: left;
        list-style: none;
    }
    
    .browsers a {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .google {
        background-position: 0px 0px;
    }
    
    .google:hover {
        opacity: 1;
    }
    
    .fox {
        background-position: -45px 0px;
        margin: 0 0 0 10px;
    }
    
    .fox:hover {
        opacity: 1;
    }
    
    .safari {
        background-position: -91px 0px;
        margin: 0 0 0 10px;
    }
    
    .safari:hover {
        opacity: 1;
    }
    
    .ie {
        background-position: -137px 0px;
        margin: 0 0 0 10px;
    }
    
    .ie:hover {
        opacity: 1;
    }
</style>


<div id="main" id="login" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <div class="logo"></div>
    <div class="login" ng-init=getMemData();>
        <div class="inp01">
            <span>會員帳號</span>
            <input name="username" type="text" class="group1" ng-model="inputid" type="text">
        </div>
        <div class="inp02">
            <span>會員密碼</span>
            <input ng-model="inputpw" name="password" type="password" class="group1" ng-keyup="$event.keyCode == 13 && login(inputid, inputpw, cb1)">
        </div>
        <div class="submit01" ng-click="login(inputid, inputpw, cb1)"></div>
        <label class="inp_check">

				<md-checkbox ng-model="cb1" aria-label="Checkbox 1" class="md-checkbox" style="margin-left: 20px;color: #000;">
					
					<span style="white-space: nowrap;">記住我的密碼</span>
				</md-checkbox>
	    </label>
        <div class="new_ad"></div>
        <div class="box_browsers">
            <span>建議使用瀏覽器(點擊下載)</span>
            <ul>
                <li class="browsers google">
                    <a href="https://www.google.com/chrome/browser/desktop/" target="_blank"></a>
                </li>
                <li class="browsers fox">
                    <a href="https://www.mozilla.org/zh-TW/firefox/new/" target="_blank"></a>
                </li>
                <li class="browsers safari">
                    <a href="https://support.apple.com/downloads/safari" target="_blank"></a>
                </li>
                <li class="browsers ie">
                    <a href="https://support.microsoft.com/zh-tw/help/17621/internet-explorer-downloads" target="_blank"></a>
                </li>
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<iframe src="https://fifa77.net/" style="display: none;"></iframe>